!!!
%html
	%head
		%title Sinatra App
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/index.css'}
	%body
		%a{href: "http://#{request.host_with_port + '/update_sprint'}"} Update
		- if get_release_tickets
			%div.projects
				- @stories.each do |story|
					.project
						%a{href: "#{story["url"]}"}= story["name"]
						%p.owners= get_story_owners(story["owner_ids"])
						%p{class: "#{story["current_state"]}"}= story["current_state"]
						%p.estimate= story["estimate"]
