!!!
%html
	%head
		%title ReviewTrackers Challenge
		%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/index.css'}
	%body
		%a.update{href: "http://#{request.host_with_port + '/update_sprint'}"} Update
		%select
			- ['Accepted', 'Delivered', 'Finished', 'Started', 'Unscheduled', 'Unstarted'].each do |state|
				%option{:value => state}= state
		- if get_release_tickets
			%h1= "Sprint #{@release_label}"
			%div.projects
				- @stories.each do |story|
					.project
						%div.top
							%a{href: "#{story["url"]}"}= story["name"]
							%span.state{class: "#{story["current_state"]}"}= story["current_state"]
						%div.bottom
							%p.owners
								Owners:
								%span= get_story_owners(story["owner_ids"])
							%p.estimate
								Points:
								%span= story["estimate"]
